
html{
    height: 100%;
}

body {
    height: 100%;
    padding-top: 4rem;
    margin-bottom: -50px;
    font-family: 'Poppins', 'Noto Sans Thai',  sans-serif;
}

a{
    cursor: pointer;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-white {
    color: white;
}

.smaller-font {
    font-size: smaller;
}

.xsmall-font{
    font-size: x-small;
}

.promo-banner-bg {
    background: #686868 url('../img/jss-sanjana.jpeg') center;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.bold-text {
    font-weight: 600;
}

.reg-text{
    font-weight: 400;
}

.rounded-10{
    border-radius: 10px;
}

.rounded-25{
    border-radius: 25px;
}

.notibar{
    max-width: 450px;
}